<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Document</title>

    </head>

    <body>
        <div class="primaryContainer">
            <div class="logoContainer">
                <img src="../static/img/Logo.png" alt="Logo" class="logo">
            </div>
        
            <div class="login">
                <div class="form-container">
                    <h1 class="title">Login</h1>


                    <form class="form" method="POST" action="{{url_for('login_register')}}">
                        <label for="email" class="label"></label>
                        <input type="email" name="email" placeholder="email@example.com.co" class="input input-email" required> 

                        <label for="new-password" class="label"></label>
                        <input type="password" placeholder="*********" class="input input-password" name="password" required>
                        
                        <input type="submit" name="action" value="Login" class="primary-button login-button">

                        <a href="">Forgot my password</a>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
    
            <div class="login">
                <div class="form-container">

                    <h1 class="title">Sign Up</h1>

                    <form class="form" method="POST" action="{{ url_for('login_register')}}">
                        <div>

                            <label for="email" class="label">email</label>
                            <input type="email" placeholder="email@example.com.co" class="input input-email" name="email" required>
                            
                            <label for="new-password" class="label"></label>
                            <input type="password" placeholder="*********" class="input input-password" name="password" required>
                               
                        </div>

                        <input type="submit" value="Create" class="primary-button login-button" name="action">
                    </form>
                </div>
            </div>
        </div>

        <!-- ACA -->
        <footer class="footer">
            Contacto: +57 315-739-2376
        </footer>
    </body>
</html>
